/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$yellow: #F8C832;
$charcoal: #222222;

// $grey: rgba(0,0,0,0.9);



:root {
<<<<<<< HEAD
    // --fancybox-bg: rgba(246, 104, 9, 0.79);
    // --fancybox-bg: rgba(250, 76, 76, 0.96);
}
=======
    --fancybox-bg: rgba(246, 104, 9, 0.79);
  }
>>>>>>> parent of 8d23001 (demo complete)





