/* =============
    Base
============= */
body{
    // background-color: $grey;
    overflow: hidden;

    ul{
        margin: 0;
        padding: 0;
    
        li{
            list-style: none;
        }
    }
}


