/* =============
    Base
============= */
body{
    // background-color: $grey;

    background-color: var(--white);

    ul{
        margin: 0;
        padding: 0;
    
        li{
            list-style: none;
        }
    }
}


