#card-1{
    width: 100%;
    height: 100px;
    background-color: rgba(163,0,41,.5);
    margin-bottom: -50px;
    position: absolute;
    top: -100px;
}

#card-2{
    width: 100%;
    height: 50px;
    background-color: rgba(198,1,50,.75);
    position: absolute;
    top: -50px;
    
}



main{
    background-color: $black !important;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";

    position: relative;

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: main;
    }

}