nav{
    height: 100vh;
    position: fixed;
    top:0;
    right:0;
    ul{
        height: 100%;
        display: flex;

        .nav-container{
  
            .nav-content{
                height: 100%;

                aside{
                    width: 50px;
                    height: 100%;
                    cursor: pointer;
                }

                .nav-rightSide{
                    width: 1px;
                    height: 100%;
                    transition: 0.25s;
                    border: 1px solid red;
                   
                }
            }
        }

        #button-1{
            background-color: coral;
        }

        #button-2{
            background-color: cadetblue;
        }

        #button-3{
            background-color: beige;
        }
    }
}

.active{
    width: 85vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}