/* =============
    Skynet
============= */
#skynet{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". skynet .";
    @include md {
        padding: 54px 0;
    }

    @include lg {
        padding: 100px 0;
    }

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: skynet;


        // .carousel {
        //     color: #170724;

        //     --carousel-button-bg: #fff;
        //     --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

        //     --carousel-button-svg-width: 20px;
        //     --carousel-button-svg-height: 20px;
        //     --carousel-button-svg-stroke-width: 2.5;

        //     .carousel__slide {
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;

        //         overflow: hidden;

        //         width: 80%;
        //         height: 50vh;
        //         margin-right: 6px;

        //         // background-color: #eee;
        //         border-radius: 6px;

        //         img {
        //             width: 100%;
        //         //    border: 1px solid red;
        //         }
        //     }
        // }




        .carousel {
            color: #170724;

            --carousel-button-bg: #fff;
            --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

            --carousel-button-svg-width: 20px;
            --carousel-button-svg-height: 20px;
            --carousel-button-svg-stroke-width: 2.5;

            .carousel__slide {
                background-position: center;
                background-size: cover;
                height: 40vh;
                margin: 0 20px;

                @include md{
                    height: 50vh;
                }

                @include lg{
                    height: 60vh;
                }
                a:link,a:visited{
                    height: 100%;
                    width: 100%;
                    display: inline-block;
                }
            }
    
            #gallery-1 {
                background-image: url("../img/skynet/gallery-1.jpg");
            }
    
            #gallery-2 {
                background-image: url("../img/skynet/gallery-2.jpg");
            }
    
            #gallery-3 {
                background-image: url("../img/skynet/gallery-3.jpg");
                background-position: center top;
            }
    
            #gallery-4 {
                background-image: url("../img/skynet/gallery-4.jpg");
            }
    
            #gallery-5 {
                background-image: url("../img/skynet/gallery-5.jpg");
            }
    
            #gallery-6 {
                background-image: url("../img/skynet/gallery-6.jpg");
            }
    
            #gallery-7 {
                align-items: center;
                color: $yellow;
                display: flex;
                font-family: 'Pacifico', cursive;
                justify-content: center;
    
                h1 {
                    font-size: rem-calc(43);
                    font-weight: 400;
    
                    @include md {
                        font-size: rem-calc(46);
                    }
                }
            }
        }
    }
}