/* =============
    Navigation
============= */

#container {
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". container .";
    height: 100vh;

    >div {
        grid-area: container;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        nav {

            ul {
                // display:flex;
                li {
                    border: 1px solid red;  
                    display: block;
                    height: 15px;
                    // overflow: hidden;
                    margin-bottom: 30px;

                    a {

                        color: black;

                        h5 {
                           
                            margin: 0;
                            padding: 0;
                            // margin-top: -15px;
                        }
                    }
                }
            }
        }
    }
}